<ul class="set__list">
    <%  if (numSets > 0) {
        for (let i = 0; i < numSets; i ++) { %>
        <li class="set" data-setid="<%= i + 1 %>">
            <div class="set__header">
                <h1 class="set__title">Superset <%= i + 1 %></h1>
                <div class="progress-bar">
                    <% for (let thisMovement of movements) { %>
                        <% if (thisMovement.set_id === i + 1) { %>
                            <% if (thisMovement.to_char === todaysDate) { %>
                                <div class="progress-step progress-step--completed" data-movementid="<%= thisMovement.movement_id %>"></div>
                            <% } else { %>
                                <div class="progress-step" data-movementid="<%= thisMovement.movement_id %>"></div>
                            <%} %>
                        <% } %>
                    <% } %>
                </div>
                <button class="movement__add-new">
                    <img src="/img/add.svg" alt="">
                    Add a movement
                </button>
            </div>
            <ul class="movement__list" data-setid="<%= i + 1 %>">
                <% for (movement of movements) {
                    if (movement.set_id === i + 1) { %>
                        <li class="movement" data-movementid="<%= movement.movement_id %>">
                            <div class="movement__header">
                                <h3 class="movement__name"><%= movement.movement_name %></h3>
                                <button class="movement__edit-button"></button>
                                <button class="movement__journal-button" data-movementname="<%= movement.movement_name %>" data-movementid="<%= movement.movement_id %>"></button>
                            </div>
                            <% if (movement.instruction == true) { %>
                                <p class="movement__instruction-tag">Instruction</p>
                            <% } else { %>
                                <p class="movement__date">Last – <%= movement.to_char %>:</p>
                            <% } %>

                            <div class="movement__properties">
                                <div class="movement__property">
                                    <h4>lbs</h4>
                                    <p id="weight"><%= movement.weight %></p>
                                </div>
                                <div class="movement__property-divider"></div>
                                <div class="movement__property">
                                    <h4>sets</h4>
                                    <p id="sets"><%= movement.num_sets %></p>
                                </div>
                                <div class="movement__property-divider"></div>
                                <div class="movement__property">
                                    <h4>reps</h4>
                                    <p id="reps"><%= movement.num_reps %></p>
                                </div>
                            </div>
                        </li>
                    <% }
                } %>
            </ul>
        </li>
    <% }
       } else { %>
        <li class="set" data-setid="1">
            <div class="set__header">
                <h1 class="set__title">Superset 1</h1>
                <div class="progress-bar"></div>
                <button class="movement__add-new">
                    <img src="/img/add.svg" alt="">
                    Add a movement
                </button>
            </div>
            <ul class="movement__list" data-setid="1"></ul>
        </li>
    <% } %>
    <li class="set">
        <button class="set__add-new text-button">Add a superset</button>
    </li>
</ul>
